/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff")
      format("woff"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.ttf")
      format("truetype"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.svg#PTSansNarrow")
      format("svg");
  /* Legacy iOS */
}

/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.svg#PTSansNarrow")
      format("svg");
  /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  background-image: url("../img/background/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 60px;
  background-color: #000;
}

.nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list-main {
  width: 620px;
}

.nav__list-login {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.nav__link {
  padding: 25px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.nav__link:hover,
.nav__link:focus {
  background-color: #242424;
}

.nav__link-login {
  padding-left: 50px;
  position: relative;
}
.nav__link-login::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url(../img/icons/sign-in.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.nav__link-login:hover::before {
  opacity: 1;
}

.intro {
  margin-bottom: 80px;
}

.intro__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}

.intro__img {
  width: 368px;
  height: 153px;
}

.intro__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.intro__item {
  width: 300px;
}

.intro__title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  font-size: 30px;
  line-height: 42px;
}
.intro__title::after {
  content: "";
  position: absolute;
  margin-left: -10px;
  bottom: -30px;
  width: 20px;
  height: 20px;
  left: 50%;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.intro__text {
  text-align: center;
  margin: 0 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background-color: #f8f5f2;
  background-image: url(../img/other/line.png),
    url(../img/background/pattern-light.jpg);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.info__section-left {
  width: 380px;
}

.info__section-right {
  width: 300px;
}

.info__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.info__text {
  margin: 0;
}

.news {
  width: 380px;
}

.news__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.news__item {
  margin: 0 0 25px 0;
}

.news__time {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery__item {
  position: relative;
  height: 260px;
}

.gallery__content {
  width: 100%;
  height: 164px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #fff;
}

.gallery__link {
  height: 100%;
}

.gallery__img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contacts__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin: 0 0 25px 0;
}

.info__text-appointment {
  margin-bottom: 15px;
}

.appointment__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.appointment__form .btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.appointment__item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}
.appointment__item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}
.appointment__item input {
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer {
  padding: 60px 0;
  margin-top: 65px;
  color: #ffffff;
  background-color: #212121;
  background-image: url(../img/background/pattern-dark.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__contacts {
  display: inline-block;
  width: 320px;
  margin: 0;
  margin-right: 80px;
}
.footer__contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer__social {
  display: inline-block;
  width: 145px;
  text-align: center;
}

.footer__social-title {
  display: block;
  margin-bottom: 15px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #000;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__social-link:hover {
  background-color: #fff;
}

.footer__social-link:hover path,
.footer__social-link:focus path {
  fill: #000;
}

.footer__copyright {
  display: inline-block;
  max-width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer__copyright .btn:hover,
.footer__copyright .btn:focus {
  color: #000;
  background-color: #fff;
}

.footer__copyright-title {
  display: block;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000;
  border: none;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #663d15;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000;
}

.btn__gallery {
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 140px;
  margin: 0;
}

.btn__gallery-back {
  left: 0;
}

.btn__gallery-next {
  right: 0;
}

.btn__contacts-map {
  margin-right: 15px;
}
