.custom__label {
    display: block;
}

.custom__checkbox {
    /* стили для скрытия стандартного элемента input */
    position: relative;
    appearance: none;

    &:hover,
    &:focus {
        /* убираем стандартный outline у input */
        outline: none;
    }        

    &:focus+.custom__text {
        /* кастомный outline у span при фокусе на input */
        outline: 2px dotted #000;
    }
    
    &::before {
        /* кастомный чекбокс */
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
    }
    &:checked::before {
        /* стили при нахождении элемента в состоянии checked */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='%23000000' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3E%3C/svg%3E");
        background-color: transparent;
        background-size: auto 105%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:not(:disabled):not(:checked):hover::before {
        /* стили при наведении курсора на checkbox */
        border-color: #000;
    }
    &:not(:disabled):active::before {
        /* стили для активного состояния чекбокса (при нажатии на него) */
        background-color: transparent;
        border-color: #000;
    }
    // &:focus::before {
        /* стили для чекбокса, находящегося в фокусе */
        // box-shadow: 0 0 0 1px #f9f5f2, 0 0 0 3px #000;
    // }
    &:focus:not(:checked)::before {
        /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
        border-color: #000;
    }
    &:disabled::before {
        /* стили для чекбокса, находящегося в состоянии disabled */
        border-color: #4d4d4d;
        background-color: #ccc;
    }
    &:checked:disabled::before {
        /* стили для чекбокса, находящегося в состоянии disabled и checked */
        border-color: #4d4d4d;
        background-color: #ccc;
    }
}

.custom__text {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    color: #000;
}