.footer {
    padding: 60px 0;
    color: #ffffff;
    background:  #212121 url(../img/background/pattern-dark.png) center center repeat;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 1;
    }

    &__contacts {
        flex: 1 1 33%;
        font-style: normal;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__social {
        flex: 1 1 33%;
        text-align: center;
        &-title {
            display: block;
            margin-bottom: 15px;
        }
        &-list {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
        }
        &-link {
            margin: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 43px;
            height: 43px;
            background-color: #000;
            transition: all 0.2s ease;
            &:hover {
                background-color: #fff;
            }

            svg {
                width: auto; 
                height: 25px;
                fill: #fff;
                transition: all 0.2s ease;
            }

            &:hover svg,
            &:focus svg {
                fill: #000;
            }
        }
    }

    &__copyright {
        flex: 1 1 33%;
        text-align: right;

        &-title {
            display: block;
            margin-bottom: 15px;
            margin-right: 33px;
        }

        & .btn:hover,
        & .btn:focus {
            color: #000;
            background-color: #fff;
        }
    }
} 