.header {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 23px 20px;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.2s ease;

        &:hover,
        &:focus {
            background-color: #242424;
        }

        &:hover svg {
            opacity: 1;
        }

        & svg {
            margin-right: 10px;
            width: 16px;
            height: 16px;
            fill: #fff;
            opacity: .3;
            transition: opacity 0.2s ease;
        }
    }
}