.info {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000000;
    background-color: #f8f5f2;
    background-image: url(../img/other/line.png),
        url(../img/background/pattern-light.jpg);
    background-position: center, top left;
    background-repeat: no-repeat, repeat;

    &__inner {
        width: 330px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    // &__content {
    //     display: flex;
    //     justify-content: space-between;
    //     flex-direction: column;
    // }

    &__title {
        margin: 0;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 42px;
    }

    &__text {
        margin-top: 0;
    }
}
