.page {
    
    &__header {
        color: #000;
        line-height: 1.5;
        font-weight: 700;
        margin: 50px 0;
    }

    &__title {
        margin-top: 0;
        font-size: 30px;
    }
    
}